*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

table {
    margin: 10px;
    border-collapse: collapse;
    width: 80%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }

  td img {

    height: 100px;

  }